@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@mixin text-overflow {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body {
  min-width: 1200px;
}
*{
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
}
ul, li ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
///////////////////////////////////header//////////////////////
#header{
  position: fixed;
  width: 100%;
  z-index: 20;
  h1{
    position: absolute;
    top: 0;
    width: 128px;
    height: 78px;
    left: 27px;
    display: block;
    a{
      height: 100%;
      display: block;
      background-image: url("../img/img_spr.png");
      z-index: 5;
      position: relative;
    }
  }
  > input{
    display: none;
    &:checked{
      + label{
       z-index: 3;
       background: 0;
       font-size: 0px;
        div{
          opacity: 1;
        }
        ~ nav.search_bar{
          width: 100%;
        }
      }
    }
  }
  label{
    display: block;
    width: 50px;
    background-color: #fff;
    font-size: 32px;
    border-radius: 50%;
    line-height: 50px;
    position: absolute;
    top: 17px;
    right: 27px;
    text-align: center;
    div{
      position: absolute;
      right: 4px;
      top: 24px;
      opacity: 0;
      span{
        width: 40px;
        height: 3px;
        background-color: #59beff;
        display: block;
        transform: rotate(45deg);
        &:nth-child(2){
          margin-top: -3px;
          width: 40px;
          height: 3px;
          background-color: #59beff;
          display: block;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
.menu-box{
  background-color: rgba(0,0,0,.45);
  text-align: center;
  transition: 0.5s;
  width: 100%;
  &:hover{
    background-color: #00184d;
  }
}
.menu{
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  &:hover li ul{
      height: 310px;
  }
  li{
    display: inline-block;
    width: 190px;
    vertical-align: top;
    &:hover > a {
        color: #59beff;
    }
    > a{
      display: block;
      color: #fff;
      line-height: 85px;
      font-size: 23px
    }
  }
}
.depht_02{
  height: 0px;
  overflow: hidden;
  transition: 0.25s;
  li{
    a{
      display: inline-block;
      color: #b4bbff;
      line-height: 40px;
      font-size: 18px
    }
    &:hover{
      a{
        color: #59beff;
      }
      &:after{
        margin: 4px;
        opacity: 1;
      }
      &:before{
        margin: 4px;
        opacity: 1;
      }
    }
    &:after{
      content: "";
      display: inline-block;
      background: url("../img/nav_icon.png") no-repeat;
      width: 9px;
      height: 9px;
      margin: 0 -12px 4px 0px;
      opacity: 0;
      transition: 0.2s;
    }
    &:before{
      content: "";
      display: inline-block;
      background: url("../img/nav_icon.png") no-repeat;
      width: 9px;
      height: 9px;
      margin: 4px;
      margin: 0 0px 4px -12px;
      opacity: 0;
      transition: 0.2s;
    }
  }
}
.search_bar{
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00184d;
  height: 85px;
  width: 100%;
  width: 0;
  overflow: hidden;
}
.search_width{
  text-align: center;
  position: relative;
  width: 640px;
  margin: 12px auto 0 auto;
  input[type="text"]{
    padding: 0 120px 0 60px;
    width: 460px;
    border: 0;
    border-radius: 27px;
    background: #fff;
    font-size: 23px;
    font-weight: 300;
    line-height: 54px;
    outline: none;
  }
  input[type="submit"]{
    position: absolute;
    top: 5px;
    right: 7px;
    margin: auto 0;
    border: 0;
    border-radius: 22px;
    width: 108px;
    height: 44px;
    overflow: hidden;
    background-color: #59beff;
    text-indent: -10000em;
    cursor: pointer;
  }
  i{
    position: absolute;
    top: 12px;
    right: 41px;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
  }
}
///////////////////////////////////banner//////////////////////
#main_banner{
  .slick-dots{
    bottom: 50px;
    li.slick-active button:before{
      color: #222;
      opacity: 1;
    }
    li button:before{
      font-family: 'slick';
      font-size: 6px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 8px;
      content: "";
      text-align: center;
      opacity: .25;
      color: black;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: #000;
      border-radius: 6px;
    }
  }
  div{
    width: 100%;
    background-size: cover;
    height: 570px;
    a{
      display: block;
    }
  }
  .slick-prev {
    left: 43%;
    z-index: 2;
    top: 87.5%;
    &:before{
      display: none;
    }
    i{
      font-size: 30px;
      line-height: 1;
      opacity: .75;
      color: white;
    }
  }
  .slick-next {
    right: 43%;
    z-index: 2;
    top: 87.5%;
    &:before{
      display: none;
    }
    i{
      font-size: 30px;
      line-height: 1;
      opacity: .75;
      color: white;
    }
  }
}
.banner_01{
  background: url("../img/bg_header.png") no-repeat center;
  background-size: cover;
}
.banner_02{
  background: url("../img/tales_bg_02.png") no-repeat center;
  background-size: cover;
}
.banner_03{
  background: url("../img/tales_bg_03.png") no-repeat center;
  background-size: cover;
}
///////////////////////////////////middle_menu//////////////////////
#middle_menu{
    max-width: 1300px;
    margin: -4% auto 0 auto;
    background-color: #fff;
    border-radius: 65px;
    box-shadow: 7px 7px 10px #00000069;
    padding: 20px;
    display: flex;
    position: relative;
  > p{
    width: 17%;
    a{
      display: block;
      border-radius: 45px;
      line-height: 90px;
      background: #ffdb12;
      font-size: 28px;
      text-align: center;
      color: #000;
    }
  }
}
.game-start{
  position: absolute;
  right: 0;
  top: 0;
  width: 52%;
  border-radius: 80px;
  background: #4678db;
  text-align: right;
  p{
    display: inline-block;
    a{
      color: #fff9a4;
      font-size: 30px;
      line-height: 130px;
      font-family: 'Recipekorea';
    }
  }
  p:last-child{
    margin: 0 16px 0 15%;
    font-size: 37px;
    background-color: #fff;
    border-radius: 52px;
    text-align: center;
    width: 40%;
    transition: 0.5s;
    &:hover{
      background-image: url("../img/start_bg.gif");
      background-size: cover;
      a{
       color: #fff;
       font-size: 43px;
     }
    }
    a{
      display: block;
      width: 100%;
      line-height: 106px;
      color: #333;
      transition: 0.5s;
    }
  }
}
.shrotcut{
  width: 30%;
  margin-left: 4%;
  display: flex;
  flex-wrap: wrap;
  p{
    height: 40px;
    &:nth-child(1),&:nth-child(2){
      margin-bottom: 6px;
    }
    a{
      display: block;
      box-sizing: border-box;
      border: 1px solid #a0a0a0;
      border-radius: 20px;
      width: 136px;
      line-height: 40px;
      background: #fff;
      color: #707070;
      font-size: 15px;
      text-align: left;
      text-indent: 15px;
      margin-left: 10px;
      transition: 0.3s;
      &:hover{
        border-color: #59beff;
        color: #59beff;
      }
    }
  }
}

#noticeWrap{
  margin: 45px 0;
  .container {
    display: flex;
  }
}
.community{
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  h5{
    font-size: 20px;
    margin-bottom: 15px;
    width: 100%;
     a{
       color: #000;
     }
  }
}
.community_item{
  position: relative;
  width: 30%;
  &:nth-child(3), &:nth-child(4){
    margin-left: 30px;
  }
  &:nth-child(3) a.point{
    background-position: -275px 0px;
  }
  &:nth-child(4) a.point{
    background-position: -320px 0px;
  }
  &:hover h6 a{
    color: #db4766;
  }
  span{
    display: block;
    background-size: cover;
    width: 100%;
    max-width: 240px;
    height: 170px;
  }
  h6{
    line-height: 44px;
    font-size: 17px;
    a{
      color: #000;
      @include text-overflow;
    }
  }
  p{
    font-size: 13px;
    a{
      color: #666;
    }
  }
}
.community_img_01{
  background: url("../img/commu_01.jpg") no-repeat center;
}
.community_img_02{
  background: url("../img/commu_02.jpg") no-repeat center;
}
.community_img_03{
  background: url("../img/commu_03.jpg") no-repeat center;
}
.point{
  display: block;
  background-image: url("../img/img_spr.png");
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background-position: -230px 0px;
}
.notice{
  margin-left: 7%;
  width: 28%;
  h5 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  li{
    &:hover p a{
      color: #db4766;
    }
    p a{
      font-size: 17px;
      color: #000;
      width: 100%;
      @include text-overflow;
    }
    span a{
      font-size: 15px;
      color: #a9a9a9;
      display: block;
      line-height: 33px;
      text-indent: 3px;
      font-weight: 300;
    }
  }
}
///////////////////////////////////news//////////////////////
#news{
  margin: 40px auto;
  display: flex;
}
.newswrap{
  width: 65%;
  h3{
    font-size: 20px;
    margin-bottom: 15px;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 47%;
      display: flex;
      box-sizing: border-box;
      margin-left: 3%;
      &:last-child{
        border-left: 1px solid #ccc;
        >a{
          background: url("../img/new_02.jpg") no-repeat;
        }
      }
      p{
        text-align: center;
        padding: 16px 68px;
        &:hover a{
          color: #db4766;
        }
        a{
          font-size: 18px;
          color: #333;
          line-height: 23px;
          span{
            font-size: 15px;
            line-height: 35px;
            color: #888;
          }
        }
      }
      >a{
        display: block;
        background: url("../img/new_01.jpg") no-repeat;
        width: 128px;
        height: 128px;
        background-size: cover;
        border-radius: 50%;
        margin: 4px;
      }
    }
  }
}
.news_right{
  background: url("../img/new2_01.jpg");
  width: 25.5%;
  height: 211px;
  margin-left: 93px;
  border-radius: 28px;
}
///////////////////////////////////news//////////////////////
#lowerContent{
  display: flex;
}
.ad{
  width: 27%;
    li{
      width: 244px;
      background: url("../img/bn_pcroom.png") no-repeat;
      background-size: cover;
      height: 136px;
      padding: 16px 30px 30px 30px;
      &:last-child{
        background: url("../img/bn_customer.png") no-repeat;
        height: 75px;
        background-size: cover;
        margin-top: 20px;
        a span:last-child{
          margin-top: 10px;
        }
      }
    a{
      color: #fff;
      span{
        font-size: 14px;
        line-height: 20px;
        &:first-child{
          font-size: 21px;
          line-height: 61px;
        }
        &:last-child{
          border: 1px solid #fff;
          display: block;
          width: 87px;
          text-align: center;
          margin-top: 15px;
          border-radius: 21px;
        }
      }
    }
  }
}
.keyword{
  width: 40%;
  position: relative;
  h3{
    display: inline-block;
    font-size: 20px;
  }
  ul{
    margin: 42px 0 0 25px;
    font-size: 17px;
    li{
      margin-bottom: 8px;
      &:hover a{
        border: 1px solid #666;
        color: #0d204a;
      }
      a{
        color: #666;
        display: block;
        border: 1px solid #ccc;
        border-radius: 43px;
        text-indent: 26px;
        line-height: 38px;
        span{
          color: #db4766;
        }
      }

    }
  }
}
.keyword_btn{
  position: absolute;
  right: 0;
  top: 0;
  span:first-child a{
    color: #db4766;
    &:hover{
      color: #0d204a;
    }
  }
    a{
    color: #59beff;
    &:hover{
      color: #0d204a;
    }
  }
}
.creaters{
  width: 27%;
  margin-left: 6%;
  text-align: center;
  h3{
    font-size: 20px;
    text-align: start;
  }
  .slider{
    width: 100%;
    margin-top: 63px;
    .slick-prev{
      left: 5px;
      top: 28%;
      z-index: 10;
      i{
        font-size: 33px;
        color: #000;
      }
    }
    .slick-next{
      right: 5px;
      top: 28%;
      i{
        font-size: 33px;
        color: #000;
      }
    }
    div{
      width: 100%;
      a{
        display: inline-block;
      }
      p{
        line-height: 45px;
      }
      p:last-child{
        color: #545454;
        line-height: 20px;
        font-size: 15px;
      }
    }
  }
}
#sns{
  margin: 20px auto 75px;
  ul{
    display: flex;
    li{
      width: 11%;
      text-align: center;
      &:nth-child(1):hover {
        .sns_img {
          background-position: 0px 68px;
        }
        p a{
          color: #1f980b;
        }
      }
      &:nth-child(2) {
        .sns_img {
          background-position: -106px 0px;
        }
        &:hover{
          .sns_img {
            background-position: -106px 68px;
          }
         p a{
            color: #4251df;
          }
        }
      }
      
      &:nth-child(3) {
        .sns_img {
        background-position: -212px 0px;
        }
        &:hover{
          .sns_img {
            background-position: -212px 68px;
          }
          p a{
            color: #222;
          }
        }
      }
      
      &:nth-child(4) {
        .sns_img {
        background-position: -318px 0px;
        }
        &:hover{
          .sns_img {
            background-position: -318px 68px;
          }
          p a{
            color: #c22647;
          }
        }
      }
      
      &:nth-child(5) {
        .sns_img {
        background-position: -424px 0px;
        }
        &:hover{
          .sns_img {
            background-position: -424px 68px;
          }
          p a{
            color: #a647cd;
          }
        }
      }
      
      &:nth-child(6) {
        .sns_img {
          background-position: -529px 0px;
        }
        &:hover {
          .sns_img {
            background-position: -529px 68px;
          }
          p a{
            color: #3068c4;
          }
        }
      } 
      &:nth-child(7) {
        .sns_img {
          background-position: -935px 0px;
        }
        &:hover {
          .sns_img {
            background-position: -935px 68px;
          }
          p a{
            color: #ff0000;
          }
        }
      } 
      &:nth-child(8) {
        .sns_img {
          background-position: -1028px 0px;
        }
        &:hover {
          .sns_img {
            background-position: -1028px 68px;
          }
          p a{
            color: #df3f89;
          }
        }
      } 
      &:nth-child(9) {
        .sns_img {
          background-position: -845px 0px;
        }
        &:hover{
          .sns_img {
            background-position: -845px 68px;
          }
          p a{
            color: #2caac9;
          }
        }
      } 
      .sns_img {
        display: inline-block;
        background: url("../img/quick_spr.png");
        width: 68px;
        height: 68px;
      }
      p{
        margin-top: 14px;
        a{
          display: inline-block;
          font-size: 16px;
          color: #666;
        }
      }
    }
  }
}

footer{
  .line{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .container{
    margin: 40px auto;
    position: relative;
    img{
        position: absolute;
        display: block;
        right: 0;
        bottom: 10px;
    }
  }
}
.ci{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}
.service{
  font-size: 14px;
  margin-bottom: 15px;
  display: flex;
  li:before{
    content: "";
    width: 1px;
    height: 10px;
    background-color: #ccc;
    display: inline-block;
    margin: 0 12px;
  }
  li:nth-child(1):before{
    display: none;
  }
  a{
  color: #666;
  }
}
.infor{
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
  font-size: 15px;
  width: 800px;
  color: #777;
  li{
    padding-left: 10px;
  }
}


//// 반응형 

@media screen and (max-width: 1350px) {
  #middle_menu {
    margin: -4% 20px 0 20px;
  }
  #noticeWrap, #news {
    margin: 40px 20px;
  }
  #lowerContent,.ci {
    margin: 0 20px;
  }
  #sns {
    margin: 20px;
  }
}
@media screen and (max-width: 1300px) {
  .newswrap ul li p{
    width: calc(97% - 128px);
    padding: 16px 0;
    a {
      br {
        display: none;
      }
      span {
        display: block;
      }
    }
  } 
}
@media screen and (max-width: 1200px) {
  footer .container img {
    bottom: calc(100% + 48px);
  }
  .shrotcut {
    margin-left: 0;
  }
}